@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700');

:root {
  /* Colors */
  --light-black: #2e2c2caf;
  --headergradient: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  --light-gray: rgba(71, 71, 71, 0.5);

  /* Fonts */
  --roboto-font: 'Roboto Condensed', Sans-Serif;
  --roboto-size: 35px;
  --cabin-font: 'Cabin', serif;
  --cabin-size: 16px;

  /* Assignments section variables */
  --assignmentsbg: #b721ff;
  --assignmentstext: whitesmoke;

  /* Team section variables */
  --teambg: #7161ef;
  --teamtext: whitesmoke;

  /* Embedded video section variables */
  --videobg: #fdc830;
  --videotext: whitesmoke;

  --video-bg-gradient-webkit: -webkit-linear-gradient(
    to bottom,
    #fdc830,
    #f37335
  ); /* Chrome 10-25, Safari 5.1-6 */
  --video-bg-gradient: linear-gradient(
    to bottom,
    #fdc830,
    #f37335
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Contact Section variables */
  --contactbg: #4e54c8;
  --contact-bg-gradient-webkit: -webkit-linear-gradient(
    to bottom,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  --contact-bg-gradient: linear-gradient(
    to bottom,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: border-box;
}

section {
  overflow-x: hidden;
  min-height: 100%;
  padding: 70px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: var(--roboto-font);
  font-size: var(--roboto-size);
}

p {
  font-family: var(--cabin-font);
  font-size: var(--cabin-size);
}

.wrapper {
  min-height: 100%;
  padding-top: 70px;
}
/* Pre loader */
.loaderFull {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
}

.loader1-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  z-index: 2;
}
.loader2-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #fdcb6e;
  z-index: 2;
}
.loader3-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #222831;
  z-index: 2;
}
.loader4-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #6c5ce7;
  z-index: 2;
}
.loader1-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  z-index: 2;
}
.loader2-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fdcb6e;
  z-index: 2;
}
.loader3-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #222831;
  z-index: 2;
}
.loader4-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #6c5ce7;
  z-index: 2;
}

/* Scroll icon */

section .scroll-container a {
  padding-top: 2.5rem;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none !important;
  transition: opacity 0.3s;
}
section .scroll-container a:hover {
  opacity: 0.5;
}
section .scroll-container a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
section .scroll-container a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Nav area */

.navigation a {
  font-family: var(--roboto-font);
  font-size: 1.2em;
  color: whitesmoke;
}

.navigation .nav-item:last-child {
  padding-right: 0.5em;
}

.navigation .nav-item {
  padding: 0.75em;
}

.navigation .navbar-brand {
  padding-left: 1rem;
}

.navigation .nav-link:hover {
  color: var(--light-black);
}

/* Hero section */

.hero {
  overflow-x: hidden;
  min-height: 100%;
  padding-top: 70px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero .row .col-md-5 {
  padding: 20px 15px;
}

.hero .row .col-md-7 {
  padding: 150px 0px;
  color: white;
}

.hero .row .col-md-5 img {
  width: 130%;
}

.hero .container .col-md-7 h6 {
  padding: 0.5rem;
  letter-spacing: 5px;
}

.hero .container .col-md-7 h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero .container .col-md-7 p {
  padding: 1rem 4rem;
}

.hero .container .col-md-7 button {
  border-radius: 20rem;
  font-weight: bold;
}

/* Assignments area */
.assignments-section {
  background: var(--assignmentsbg);
}

.assignments-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.assignments-section .row {
  padding: 2rem 3rem;
}

.assignments-section .card {
  margin-top: 1rem;
}

.assignments-section iframe {
  width: 100%;
  height: 20rem;
}

/* Team area */

#gruppe {
  background: var(--teambg);
}

.team-section h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
}

.team-section .row {
  padding: 1rem 1rem;
}

.team-section .card {
  width: 18rem;
  margin-top: 1rem;
}

.team-section .card .card-text {
  padding: 0.5rem;
}

.team-section .card .card-body a {
  font-size: 1rem;
}

.team-section .card .team-circle-image {
  margin-top: 2.5rem;
  width: 10rem;
  height: 10rem;
}

.team-section .card .team-circle-image img {
  object-fit: cover;
}

/* Embedded video */

.videoSection {
  background: var(--videobg);
  background: var(--video-bg-gradient-webkit);
  background: var(--video-bg-gradient);
  color: white;
}

.videoSection .row {
  margin-top: 2vmin;
}

.videoSection .row .col-md-7 {
  padding: 1vmin 1vmin;
  color: white;
}

.videoSection .row .col-md-5 {
  padding: 10vmin 2vmin;
  color: white;
}

.videoSection .row h1 {
  font-size: 7vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

.videoSection .container-fluid .col-md-5 button {
  border-radius: 20px;
  font-weight: bold;
}

#video-laptop {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}

#video-laptop iframe {
  box-sizing: border-box;
  background: url(http://i.stack.imgur.com/zZNgk.png) center center no-repeat;
  background-size: contain;
  padding: 11.9% 15.5% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .contact area */

.contact {
  background: var(--contactbg);
  background: var(--contact-bg-gradient-webkit);
  background: var(--contact-bg-gradient);
}
.contact h1 {
  font-size: 3rem;
  font-weight: bold;
}

.contact .row {
  margin-top: 2.5rem;
}

.contact .col-md-4 .card {
  height: 30rem;
}

.contact .col-md-4 .card h3 {
  font-family: var(--roboto-font);
}

.contact .col-md-4 button {
  margin-top: 2rem;
  padding: 0.5rem;
}

.contact .col-md-8 .container h6 {
  font-size: 1.2rem;
  font-family: var(--roboto-font);
  font-weight: bold;
}

.contact .col-md-8 .container .row {
  margin-top: 0.75rem;
  color: white;
}

.contact .col-md-8 .container i {
  margin: 1.5rem;
}

#map {
  background: #2193b0;
  height: 20rem;
  width: 100%;
}
