@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700');

:root {
  /* Colors */
  --light-black: #2e2c2caf;
  --headergradient: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  --light-gray: rgba(71, 71, 71, 0.5);

  /* Fonts */
  --roboto-font: 'Roboto Condensed', Sans-Serif;
  --roboto-size: 35px;
  --cabin-font: 'Cabin', serif;
  --cabin-size: 16px;

  /* Assignments section variables */
  --assignmentsbg: #b721ff;
  --assignmentstext: whitesmoke;

  /* Team section variables */
  --teambg: #7161ef;
  --teamtext: whitesmoke;

  /* Embedded video section variables */
  --videobg: #fdc830;
  --videotext: whitesmoke;

  --video-bg-gradient-webkit: -webkit-linear-gradient(
    to bottom,
    #fdc830,
    #f37335
  ); /* Chrome 10-25, Safari 5.1-6 */
  --video-bg-gradient: linear-gradient(
    to bottom,
    #fdc830,
    #f37335
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Contact Section variables */
  --contactbg: #2193b0;
  --contact-bg-gradient-webkit: -webkit-linear-gradient(
    to top,
    #2193b0,
    #6dd5ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  --contact-bg-gradient: linear-gradient(
    to top,
    #2193b0,
    #6dd5ed
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: border-box;
}

section {
  overflow-x: hidden;
  min-height: 100%;
  padding: 70px;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  font-family: var(--roboto-font);
  font-size: var(--roboto-size);
}

p {
  font-family: var(--cabin-font);
  font-size: var(--cabin-size);
}
.wrapper {
  min-height: 100%;
  padding-top: 70px;
}

/* Nav area */

.navigation a {
  font-family: var(--roboto-font);
  font-size: 1.2em;
  color: whitesmoke;
}

.navigation .nav-item:last-child {
  padding-right: 0.5em;
}

.navigation .nav-item {
  padding: 0.75em;
}

.navigation .navbar-brand {
  padding-left: 1rem;
}

.navigation .nav-link:hover {
  color: var(--light-black);
}

/* Hero section */

.hero {
  overflow-x: hidden;
  min-height: 100%;
  padding-top: 70px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero .row .col-md-5 {
  padding: 20px 15px;
}

.hero .row .col-md-7 {
  padding: 150px 0px;
  color: white;
}

.hero .row .col-md-5 img {
  width: 130%;
}

.hero .container .col-md-7 h6 {
  padding: 0.5rem;
  letter-spacing: 5px;
}

.hero .container .col-md-7 h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero .container .col-md-7 p {
  padding: 1rem 4rem;
}

.hero .container .col-md-7 button {
  border-radius: 20rem;
  font-weight: bold;
}

/* Assignments area */
#opgaver {
  background: var(--assignmentsbg);
}

#opgaver .container h1 {
  color: var(--assignmentstext);
  padding: 0.5rem;
}

#opgaver iframe {
  width: 100%;
  height: 23.5rem;
}

/* Team area */

#gruppe {
  background: var(--teambg);
}

.team-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.team-section .container h1 {
  padding: 0.5rem;
}

.team-section .row {
  padding: 1rem 1rem;
}

.team-section .card {
  width: 18rem;
  margin-top: 1rem;
  padding: 0.4rem;
}

.team-section .card .card-text {
  padding: 0.5rem;
}

.team-section .card .card-body a {
  font-size: 1.5rem;
}

.team-section .card .team-circle-image {
  margin-top: 2.5rem;
  width: 10rem;
  height: 10rem;
}

.team-section .card .team-circle-image img {
  object-fit: cover;
}

/* Embedded video */

.videoSection {
  background: var(--videobg);
  background: var(--video-bg-gradient-webkit);
  background: var(--video-bg-gradient);
  color: white;
}

.videoSection .row {
  margin-top: 2vmin;
}

.videoSection .row .col-md-7 {
  padding: 1vmin 1vmin;
  color: white;
}

.videoSection .row .col-md-5 {
  padding: 10vmin 2vmin;
  color: white;
}

.videoSection .row h1 {
  font-size: 7vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

.videoSection .container-fluid .col-md-5 button {
  border-radius: 20px;
  font-weight: bold;
}

#video-laptop {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}

#video-laptop iframe {
  box-sizing: border-box;
  background: url(http://i.stack.imgur.com/zZNgk.png) center center no-repeat;
  background-size: contain;
  padding: 11.9% 15.5% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .contact area */

.contact {
  background: var(--contactbg);
  background: var(--contact-bg-gradient-webkit);
  background: var(--contact-bg-gradient);
}
