@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700|Lobster|Pacifico|Josefin+Sans');

:root {
  /* Colors */
  --light-black: #2e2c2caf;
  --headergradient: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  --light-gray: rgba(71, 71, 71, 0.5);

  /* Fonts */
  --roboto-font: 'Roboto Condensed', Sans-Serif;
  --roboto-size: 2rem;
  --cabin-font: 'Cabin', serif;
  --cabin-size: 1rem;
  --lobster-font: 'Lobster', cursive;
  --pacifico-font: 'Pacifico', cursive;
  --josefin-font: 'Josefin Sans', sans-serif;

  /* Assignments section variables */
  --assignmentsbg: #b721ff;
  --assignmentstext: white;

  /* Team section variables */
  --teambg: #7161ef;
  --teamtext: white;

  /* Embedded video section variables */
  --videobg: #fdc830;
  --videotext: white;
  --video-bg-gradient-webkit: -webkit-linear-gradient(
    to bottom,
    #fdc830,
    #f37335
  );
  --video-bg-gradient: linear-gradient(to bottom, #fdc830, #f37335);

  /* Cupcake Section Variables */

  --cupcakebg: #eacda3;
  --cupcakebg-gradient-webkit: -webkit-linear-gradient(
    to right,
    #eacda3,
    #d6ae7b
  );
  --cupcakebg-gradient: linear-gradient(to right, #eacda3, #d6ae7b);

  --cupcake-pink: #f286a9;
  --cupcake-brown: #724b44;

  /* Contact Section variables */
  --contactbg: #4e54c8;
  --contact-bg-gradient-webkit: -webkit-linear-gradient(
    to bottom,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  --contact-bg-gradient: linear-gradient(
    to bottom,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  box-sizing: border-box;
}

section {
  overflow-x: hidden;
  min-height: 100%;
  padding: 70px;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: var(--roboto-font);
  font-size: var(--roboto-size);
}

p {
  font-family: var(--cabin-font);
  font-size: var(--cabin-size);
}

.wrapper {
  min-height: 100%;
  padding-top: 70px;
}
/* Pre loader */
.loaderFull {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
}

.loader1-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  z-index: 2;
}
.loader2-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #fdcb6e;
  z-index: 2;
}
.loader3-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #222831;
  z-index: 2;
}
.loader4-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background: #6c5ce7;
  z-index: 2;
}
.loader1-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  z-index: 2;
}
.loader2-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fdcb6e;
  z-index: 2;
}
.loader3-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #222831;
  z-index: 2;
}
.loader4-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background: #6c5ce7;
  z-index: 2;
}

/* Nav area */

.navigation a {
  font-family: var(--roboto-font);
  font-size: 1.2em;
  color: whitesmoke;
}

.navigation .nav-item:last-child {
  padding-right: 0.5em;
}

.navigation .nav-item {
  padding: 0.75em;
}

.navigation .navbar-brand {
  padding-left: 1rem;
}

.navigation .nav-link:hover {
  color: var(--light-black);
}

/* Scroll icon */
.scroll-link {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform;
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0.01;
  }
}

/* Hero section */

.hero {
  overflow-x: hidden;
  min-height: 100%;
  padding-top: 70px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#page-top {
  opacity: 0;
  transition: 2s opacity;
}

.hero .row .col-md-5 {
  padding: 1.2rem 1rem;
}

.hero .row .col-md-7 {
  padding: 150px 0px;
  color: white;
}

.hero .row .col-md-5 img {
  width: 130%;
}

.hero .container .col-md-7 h6 {
  padding: 0.5rem;
  letter-spacing: 5px;
}

.hero .container .col-md-7 h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero .container .col-md-7 p {
  padding: 1rem 4rem;
}

.hero .container .col-md-7 button {
  border-radius: 20rem;
  font-weight: bold;
}

/* Assignments area */
.assignments-section {
  background: var(--assignmentsbg);
}

.assignments-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.assignments-section .row {
  padding: 2rem 3rem;
}

.assignments-section .card {
  margin-top: 1rem;
}

.assignments-section iframe {
  width: 100%;
  height: 20rem;
}

/* Team area */

#gruppe {
  background: var(--teambg);
}

.team-section h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
}

.team-section .row {
  padding: 1rem 1rem;
}

.team-section .card {
  width: 18rem;
  margin-top: 1rem;
}

.team-section .card .card-text {
  padding: 0.5rem;
}

.team-section .card .card-body a {
  font-size: 1rem;
}

.team-section .card .team-circle-image {
  margin-top: 2.5rem;
  width: 10rem;
  height: 10rem;
}

.team-section .card .team-circle-image img {
  object-fit: cover;
}

/* Embedded video */

.videoSection {
  background: var(--videobg);
  background: var(--video-bg-gradient-webkit);
  background: var(--video-bg-gradient);
  color: white;
}

.videoSection .row {
  margin-top: 2vmin;
}

.videoSection .row .col-md-7 {
  padding: 1vmin 1vmin;
  color: white;
}

.videoSection .row .col-md-5 {
  padding: 10vmin 2vmin;
  color: white;
}

.videoSection .row h1 {
  font-size: 7vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

.videoSection .container-fluid .col-md-5 button {
  border-radius: 20px;
  font-weight: bold;
}

#video-laptop {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}

#video-laptop iframe {
  box-sizing: border-box;
  background: url(http://i.stack.imgur.com/zZNgk.png) center center no-repeat;
  background-size: contain;
  padding: 11.9% 15.5% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----------------*/
/*  CUPCAKE AREA  */
/*----------------*/

.cupcake {
  background: var(--cupcakebg);
  background: var(--cupcakebg-gradient-webkit);
  background: var(--cupcakebg-gradient);
}

.cupcake .row .col-md-7 {
  padding: 3rem 5rem;
}

.cupcake .row .col-md-7 h1 {
  font-family: var(--lobster-font);
  color: var(--cupcake-pink);
  font-size: 10rem;
  margin: 0;
}

.cupcake .row .col-md-7 h2 {
  font-family: var(--lobster-font);
  color: var(--cupcake-brown);
  font-size: 5rem;
  text-align: right;
  line-height: 5px;
  padding-right: 5rem;
  margin-bottom: 5rem;
}

.cupcake .row .col-md-7 h3 {
  font-family: var(--lobster-font);
  color: var(--cupcake-brown);
  text-align: center;
}

.cupcake .row .col-md-7 p {
  color: var(--cupcake-brown);
  font-family: var(--josefin-font);
}

.cupcake .row .col-md-5 {
  padding: 1.2rem 1rem;
}

.cupcake .row .col-md-5 img {
  width: 130%;
  margin: 0;
}

.cupcake .row .col-md-7 .card button {
  color: white;
  background-color: var(--cupcake-brown);
  border-radius: 20rem;
  font-weight: bold;
}

/* Contact area */

.contact {
  background: var(--contactbg);
  background: var(--contact-bg-gradient-webkit);
  background: var(--contact-bg-gradient);
}
.contact h1 {
  font-size: 3rem;
  font-weight: bold;
}

.contact .row {
  margin-top: 2.5rem;
}

.contact .col-md-4 .card {
  height: 30rem;
}

.contact .col-md-4 .card h3 {
  font-family: var(--roboto-font);
}

.contact .col-md-4 .card button {
  background-color: #4a00e0;
  color: white;
  border: none;
  border-radius: 20rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 0.5rem;
}

.contact .col-md-8 .container h6 {
  font-size: 1.2rem;
  font-family: var(--roboto-font);
  font-weight: bold;
}

.contact .col-md-8 .container .row {
  margin-top: 0.75rem;
  color: white;
}

.contact .col-md-8 .container i {
  margin: 1.5rem;
}

#map {
  height: 20rem;
  width: 100%;
}
